/* Общие стили */
body, footer, header {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'China', 'Times New Roman', Times, serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgba(249, 249, 249, 0.9); /* Прозрачный фон */
    padding: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(249, 249, 249, 0.9);
    color: #000;
    text-align: center;
}

.logo img {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

#vkqr {
    max-width: 100px;
    width: 100%;
    height: auto;
    border-radius: 20px;
    
}

.logo {
    display: flex;
    justify-content: center; /* Центровка по горизонтали */
    align-items: center; /* Центровка по вертикали */
    flex-wrap: wrap; /* Позволяет изображениям переноситься */
    gap: 10px; /* Расстояние между картинками */
}

.asu_photos, #top_logo {
    display: block;
    margin: 0 auto; /* Центровка для одиночных элементов */
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

#main_info {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 20px auto;
    max-width: 1200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#main_info article {
    margin-bottom: 20px;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 36px;
    color: #222222;
    margin-top: 20px;
}

#connect_links {
    padding: 20px;
    background-color: #f9f9f9;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea, form button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #555;
}

/* Адаптивные стили */
@media (max-width: 768px) {
    .logo img {
        max-width: 200px;
    }

    header {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }

    #main_info {
        margin: 10px;
        padding: 10px;
    }

    .asu_photos, #top_logo {
        max-width: 200px; /* Уменьшение размера картинок для мобильных устройств */
    }

    #contact_form {
        margin: 10px;
        padding: 10px;
    }
}

